/* style for story */

.story {
    @include clearfix;
    .thumb {}
    .title {
        @include font-size(14, 19);
        font-weight: bold;
        .fa {
            margin-left: 3px;
            font-size: .8em;
        }
        a {
            .area--featured & {
                &:hover {
                    color: white;
                }
            }
        }
        .mega-menu & {
            font-weight: normal;
        }
    }
    .cate {
        a {
            color: $brand-primary;
        }
    }
    .meta {
        color: #a0a0a0;
        @include font-size(10, 14);
    }
    .author {
        margin-right: 5px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .summary {
        color: #58585b;
        @include font-size(12, 17);
    }
    .thumb,
    .cate,
    .title,
    .meta {
        margin-bottom: 5px;
    }
    .thumb {
        .story-listing & {
            margin-top: 3px;
            @include respond-to-xs {
                margin-top: 5px;
            }
        }
    }
    // story with bold title
    &.story-bold {
        .title {
            @include font-size(18, 25);
        }
    }
    // story cover
    &.story-cover {
        .title {
            @include font-size(24, 30);
        }
    }
    // story with red bullet 
    &.story-bullet {
        margin-bottom: 8px;
        @include last-child-y;
        .title {
            &::before {
                content: '';
                display: inline;
                margin-right: 5px;
                font-family: "fontawesome";
            }
        }
    }
    // story with mask 
    &.story-mask {
        .thumb {
            z-index: 1;
        }
        > header {
            position: relative;
            padding: 10px;
            background: #fff;
            margin-top: -25px;
            margin-left: 10px;
            margin-right: 10px;
            z-index: 2;
        }
        &.story-cover {
            > header {
                padding: 20px;
                margin-top: -50px;
                margin-right: 20px;
                margin-left: 20px;
            }
        }
    }
    // story border
    &.story-border {
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    &.story-horizontal {
        margin-bottom: 20px;
        .thumb {
            float: left;
        }
        &.story-darker {
            .thumb {
                padding: 10px;
            }
            >header {
                padding-left: 10px;
            }
        }
        >header {
            overflow: hidden;
            .title {
                max-height: 75px;
                overflow: hidden;
            }
        }
        .top-zone .story-listing & {
            .thumb {
                width: 168px;
                height: 95px;
                margin-right: 20px;
            }
        }
        .zone--breaking & {
            margin-bottom: 0;
            .thumb {
                width: 168px;
                height: 95px;
                margin-bottom: 0;
                position: relative;
                &::before {
                    display: block;
                    content: '';
                    width: 5px;
                    height: 15px;
                    background: #2babe2;
                    position: absolute;
                    top: 9px;
                    right: 0;
                    // z-index: 10;
                }
                &::after {
                    position: absolute;
                    top: 9px;
                    right: 10px;
                    display: block;
                    content: '';
                    width: 22px;
                    height: 15px;
                    background-image: url(../img/sprites.png);
                    background-position: 0px -300px;
                }
            }
            > header {
                padding: 7px 15px 5px 20px;
                background: #e6e6e7;
                height: 95px;
            }
            .title {
                margin-bottom: 3px;
            }
            .meta {
                margin-bottom: 0;
            }
        }
    }
    // story with background color
    &.story-red,
    &.story-dark,
    &.story-darker {
        .title {
            a {
                color: white;
                &:hover {
                    color: #ddd;
                }
            }
        }
        .summary,
        .meta {
            color: white;
            // margin-bottom: 0;
        }
    }
    &.story-red,
    &.story-dark,
    &.story-darker,
    &.story-light,
    &.story-transparent {
        .thumb {
            margin-bottom: 0;
        }
        >header {
            padding: 15px;
        }
    }
    &.story-red {
        background: #df3332;
    }
    &.story-dark {
        background: #818285;
    }
    &.story-darker {
        background: #58585A;
    }
    &.story-light {
        background: #e7e7e8;
    }
    &.story-transparent {
        >header {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .highlight--col .zone & {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
        .title {
            font-weight: normal;
            // max-height: 38px;
            // overflow: hidden;
        }
    }
    .zone-slider & {
        .title {
            margin-bottom: 0;
        }
    }
    .story-listing & {
        margin-bottom: 15px;
        @include last-child-y();
    }
    .top-zone .zone.story-listing & {
        .title,
        .meta,
        .summary {
            margin-bottom: 2px;
        }
        .title {
            // max-height: 38px;
            // overflow: hidden;
        }
        .summary {
            // max-height: 51px;
            // overflow: hidden;
        }
    }
    .top-zone__main-col & {
        margin-bottom: 10px;
        // .title {
        //     max-height: 57px;
        //     overflow: hidden;
        // }
        &.story-bold {
            margin-bottom: 0;
            // .title {
            //     max-height: 50px;
            // }
            .summary {
                // max-height: 34px;
                // overflow: hidden;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .zone--special & {
        .title {
            max-height: 25px !important;
            overflow: hidden;
            margin-bottom: 0;
        }
        .meta {
            margin-bottom: 0;
            color: #68696b;
        }
    }
    .area--featured & {
        .title {
            a {
                color: white;
            }
        }
        .summary {
            color: white;
            // max-height: 51px;
            // overflow: hidden;
        }
    }
    .zone-blue & {
        .title {
            margin-bottom: 5px;
            a {
                color: white;
            }
        }
        .summary {
            color: white;
        }
    }
    .zone-meeting & {
        &.story-cover {
            margin-bottom: 20px;
        }
    }
    .highlight-zone.category__main-col & {
        &.story-cover {
            padding-bottom: 20px;
        }
    }
    .cate-story-listing & {
        margin-bottom: 15px;
        padding-bottom: 5px;
        @include last-child-y();
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 10px;
            right: 10px;
            height: 1px;
            background-color: #eee;
        }
        &:last-child {
            &::before {
                background-color: transparent;
            }
        }
        .thumb {
            margin-top: 3px;
            @include respond-to-xs {
                margin-top: 5px;
            }
        }
        .title {
            font-weight: bold;
        }
    }
    .category__main-col & {
        &.story-cover {
            .title {
                @include font-size(22, 28);
            }
        }
    }
}

.page-listing {
    margin-bottom: 20px;
    &__item {
        @include font-size(14, 19);
        font-weight: bold;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
